@import "variable";
@import "mixin";
@import "extend";

body {
    // @include mq("mobile") {
    //     background: lightcoral;
    // }
    background: lightcoral;
    @include mq("medium") {
        background: yellow;
    }
    @include mq("xlarge") {
        background: blue;
    }
}
